* {
  margin: 0%;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --gray: hsl(240, 9%, 89%);
  --negrito: font-weight: bolder;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;

  
}

main {
  background: url(images/bg2.jpg);
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--gray);
  font-weight: var(--negrito);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.imgGit {
  width: 16px;
  height: 16px;
}

img {
  width: 48px;
  height: 48px;
}

.seloRocket {
  width: 80px;
  height: 80px;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
  font-size:20px;
}

ul {
  margin-top: 3rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.instagram,.linkedin, .facebook, .instagram, .github:hover{
    width: 48px;
    height: 48px;
 
}

.instagram:hover{
  content: url(images/instagram.png);
 
}

.facebook:hover{
  content: url(images/facebook.png);
}

.linkedin:hover{
  content: url(images/linkedin.png);
}

.github:hover{
  content: url(images/github.png);
}